<!doctype html>

<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Angular Fitness Presser</title>

	<!-- <link rel="stylesheet" href="./css/main.css"> -->

	<!-- <script src="/app/bower_components/angular-touch/angular-touch.min.js"></script> -->
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/js/app.js"></script>

</head>
<body>

	<section ng-controller="FitnessPresserCtrl" ng-app='FitnessPresserApp'>

		<select ng-model="exercise" ng-options="exercise.name for exercise in exercises">
			<option value="">-- Select an exercise --</option>
		</select>

		<a href="#" ng-click="addExercise()">Add exercise</a>

		<div ng-repeat="exercise in workout" ng-init="exerciseIndex = $index">
			{{ exercise.name }}
			<ul>
				<li ng-repeat="set in exercise.sets">
					Weight: <input type="number" value="{{ set.weight }}" ng-model="set.weight">
					Reps: <input type="number" value="{{ set.reps }}" ng-model="set.reps">
					<a href="#" ng-click="removeSet( exerciseIndex, $index )">Remove</a>
				</li>
			</ul>
			<a href="#" ng-click="addSet( $index )">Add Set</a>
		</div>

		<a href="#" ng-click="save()">Save Workout</a>

	</section>

</body>
</html>
